.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.carrinho{
  width: 80vw;
  background-color: grey;
  opacity: 0.5;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.vitrine{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 90vw;
  justify-content: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
